body {
  margin: 0;
  overflow: hidden;
  background: black;
}

#ui {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 9999;
}

#ui button {
  font-size: 14px;
  padding: 6px 10px;
  margin-right: 5px;
}
